{{define "header"}}
<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
      <div class="container">
         <a class="brand" href="/">Gogrammers Blog</a>
         <div class="nav-collapse collapse">
            <ul class="nav">
               <li>
                  <a href="/res/about.html">About</a>
               </li>
               <li>
                  <a href="https://github.com/aybabtme/goblog">Source Code</a>
               </li>
               {{if .CurrentAuthor}}
               <li>
                  <a href="/post/compose">Compose</a>
               </li>
               {{else}}
               {{end}}
               {{if .CurrentUser}}
               {{else}}
               <li>
                  <form action="/authorize" method="post">
                     <button type="submit" class="btn btn-primary">Login</button>
                  </form>
               </li>
               {{end}}
            </ul>
         </div>
      </div>
   </div>
</div>
{{end}}
