{{define "header"}}
<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
      <div class="container">
         <a class="brand" href="/">Gogrammers Blog</a>
         <div class="nav-collapse collapse">
            <ul class="nav">
               <li>
                  <a href="/res/about.html">About</a>
               </li>
               <li>
                  <a href="https://github.com/aybabtme/goblog">Source Code</a>
               </li>
               {{if .CurrentAuthor}}
               <li>
                  <a href="/post/compose">Compose</a>
               </li>
               {{else}}
               {{end}}
               {{if .CurrentUser}}
               <li>

               </li>
               <li>
                  <a href="/logout" class="btn-small btn-inverse">Logout</a>
               </li>
               {{else}}
               <li>
                  <a href="/authorize" class="btn-small btn-inverse">Login</a>
               </li>
               {{end}}
            </ul>
         </div>
      </div>
   </div>
</div>
{{end}}
