{{define "header"}}
<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
      <div class="container">
         <a class="brand" href="/">Gogrammers Blog</a>
         <div class="nav-collapse collapse">
            <ul class="nav">
               <li>
                  <a href="/">About</a>
               </li>
               <li>
                  <a href="/">Login!</a>
               </li>
               <li>
                  <a href="https://github.com/aybabtme/goblog">Source Code</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
{{end}}
