{{define "sidebar"}}
<div class='span3 sidebar'>
   <h2>
      More
   </h2>
   <h4>
      <a href="archives">Archives</a>
   </h4>
   <h4>
      <a href="/label">Labels</a>
   </h4>
   <ul>
      {{range .}}
      <li style="list-style: none">
         <a href="/label/{{.Id}}">{{.Name}}</a>
      </li>
      {{else}}
      <li style="list-style: none">
         No labels yet
      </li>
      {{end}}
   </ul>
</div>
{{end}}
