{{define "sidebar"}}
<div class='span3 sidebar'>
   <h2>
      More Fun
   </h2>
   <h4>
      Post History
   </h4>
   <ul>
      <li>
         <a href='archives'>Archives</a>
      </li>
   </ul>
   <h4>
      Labels
   </h4>
   <ul>
      <li style="list-style: none">

      </li>
   </ul>
</div>
{{end}}
