{{define "sidebar"}}
<div class="span3">
   <div class="affix">
      <h4>
         <a href="/label">Labels</a>
      </h4>
      {{range .}}
      <a href="/label/{{.Id}}">
         <span class="label">
            {{.Name}}
         </span>
      </a>
      {{else}}
      <span class="label label-info">No labels yet</span>
      {{end}}
   </div>
</div>
{{end}}
