<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Go Blog Home</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="">
   {{template "style" .}}
</head>
<body>
   <div id="wrap">
      <div class="container">
         <div id='content' class='row-fluid'>
            <div class='span9 main'></div>
            {{template "header" .}}
            {{template "content" .}}

         </div>
      </div><!-- container -->
      <div id="push"></div>
      {{template "footer" .}}
   </div>
</body>
{{template "javascript" .}}
</html>
