{{define "content"}}
<div class="page-header">
      <h1>
         {{.User.Username}}
      </h1>
   </div>
<div id="posts" style="float:left;">
   {{range .AllPosts}}
   <div class="row-fluid">
      <div class="span2">
         <img src="{{.ImageURL}}" height="100px" width="100px"></img>
      </div>
      <div class="span10 page-header">
         <h1>
            <a href="/post/{{.Id}}">
               {{.Title}}
            </a>
            <p><small>Posted on {{.Date.Weekday}} {{.Date.Day}} {{.Date.Month}} {{.Date.Year}}</small></p>
         </h1>
      </div>
   </div>
   {{else}}
   <div class="hero-unit"><h1>There are not post on this blog!</h1></div>
   {{end}}
</div>

<div id="comments" style="float:left;">
   {{if .User.Comments}}
   <h4>Comments</h4>
   {{range .User.Comments}}
   <blockquote id="{{.Id}}">
      <p>{{.Content}}</p>


      <small><a href="/user/{{.User.Id}}">{{.User.Username}}</a>, at
         {{.Date.Hour}}h{{.Date.Minute}} on
         {{.Date.Weekday}} {{.Date.Day}} {{.Date.Month}} {{.Date.Year}},
         said:
      </small>

   </blockquote>

   {{end}}
   {{else}}
   <h4>No comments</h4>
   {{end}}

{{end}}
