{{define "content"}}
<div class="span9">
   <div class="page-header">
      <h1>
         {{.Name}}
      </h1>
   </div>
      {{range .AllPosts}}
   <div class="row-fluid">
      <div class="span2">
         <img src="{{.ImageURL}}" height="100px" width="100px"></img>
      </div>
      <div class="span10 page-header">
         <h1>
            <a href="/post/{{.Id}}">
               {{.Title}}
            </a>
            <p><small>Posted on {{.Date.Weekday}} {{.Date.Day}} {{.Date.Month}} {{.Date.Year}}</small></p>
         </h1>
      </div>
   </div>
   <p>{{.Content}}</p>

   <hr></hr>

   {{if .Comments}}
   <h4>Comments</h4>
   {{range .Comments}}
   <h5>
      <a href="/user/{{.User.Id}}">{{.User.Username}}</a>, at
      {{.Date.Hour}}h{{.Date.Minute}} on
      {{.Date.Weekday}} {{.Date.Day}} {{.Date.Month}} {{.Date.Year}},
      said:
   </h5>
   <p>{{.Content}}</p>
   {{end}}
   {{else}}
   <h4>No comments</h4>
   <p>Be the first to comment on this post!</p>
   {{end}}
   {{else}}
   <div class="hero-unit"><h1>There are not post on this blog!</h1></div>
   {{end}}

</div>
{{end}}