{{define "content"}}
<div class="index">
   {{range .}}
   <img src="{{.ImageURL}}" height="100px" width="100px"></img>
   <a href="/post/{{.Id}}">
      <h1>{{.Title}}</h1>
   </a>
   <h2>Posted on {{.Date}}</h2>
   {{else}}
   <h1>There are not post on this blog!</h1>
   {{end}}
</div>
{{end}}
