{{define "content"}}
<div class="index span9">
   {{range .AllPosts}}
   <div class="row-fluid">
      <div class="span2">
         <img class="img-rounded" src="{{.ImageURL}}" height="100px" width="100px"></img>
      </div>
      <div class="span10 page-header">
         <h1>
            <a href="/post/{{.Id}}">
               {{.Title}}
            </a>
            <p><small>Posted on {{.Date.Weekday}} {{.Date.Day}} {{.Date.Month}} {{.Date.Year}}</small></p>
         </h1>
      </div>
   </div>
   {{else}}
   <div class="hero-unit"><h1>There are not post on this blog!</h1></div>
   {{end}}
</div>
{{template "sidebar" .AllLabels}}
{{end}}
