{{define "login"}}
<div class="login">
   <form class="form-signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <div id="signin-button" class="show">
         <span id="google_label">Sign in with:</span>
         <div id="customBtn" class="customGPlusSignIn">
            <span class="google_icon"></span>
            <span class="google_buttonText">Google</span>
         </div>
      </div>
   </form>
</div>
{{end}}
