{{define "content"}}

<div class="index span9">
   {{if .}}

   <img src="{{.ImageURL}}" height="100px" width="100px"></img>
   <div class="page-header">
      <h1>
         {{.Title}}
         <p>
            <small>
               by <a href="/author/{{.Author.Id}}">{{.Author.User.Username}}</a> on {{.Date.Weekday}} {{.Date.Day}} {{.Date.Month}} {{.Date.Year}}
            </small>
         </p>
      </h1>
   </div>
   <p>{{.Content}}</p>

   <hr></hr>

   {{if .Comments}}
   <h4>Comments</h4>
   {{range .Comments}}
   <h5 id="{{.Id}}">
      <a href="/user/{{.User.Id}}">{{.User.Username}}</a>
      <small>, at
         {{.Date.Hour}}h{{.Date.Minute}} on
         {{.Date.Weekday}} {{.Date.Day}} {{.Date.Month}} {{.Date.Year}},
         said:
      </small>
   </h5>
   <p>{{.Content}}</p>
   {{end}}
   {{else}}
   <h4>No comments</h4>
   <p>Be the first to comment on this post!</p>
   {{end}}

   {{else}}
   {{template "404" .}}
   {{end}}
</div>

{{template "sidebar" .Labels}}

{{end}}
