{{define "content"}}
<div class="index">
   {{range .}}

      <img src="{{.ImageURL}}" height="100px" width="100px"></img>
      <h1>{{.Title}}</h1>
      <h2>Posted on {{.Date}}</h2>

   {{else}}
      {{template "404" .}}
   {{end}}
</div>
{{end}}
