{{define "content"}}

<div class="index span9">

   {{with .Post}}

   <img class="img-rounded" src="{{.ImageURL}}" height="100px" width="100px"></img>
   <div class="page-header">
      <h1>
         {{.Title}}
         <p>
            <small>
               by <a href="/author/{{.Author.Id}}">{{.Author.User.Username}}</a> on {{.Date.Weekday}} {{.Date.Day}} {{.Date.Month}} {{.Date.Year}}
            </small>
         </p>
      </h1>
   </div>
   <p>{{.ContentMarkdown}}</p>
   {{end}}
   {{if .CurrentAuthor}}
   <a href="/post/edit/{{.Post.Id}}" class="btn btn-warning">Edit</a>
   <a href="/post/destroy/{{.Post.Id}}" class="btn btn-danger">Delete</a>
   {{end}}
   {{if .CurrentUser}}
   <hr></hr>
   <form action="/post/comment/{{.Post.Id}}" method="post">
   <fieldset>
      <legend>Comment</legend>
      <textarea name="content" class="field span5" rows="4" placeholder="Your rant goes here"></textarea>
   </fieldset>
   <div class="form-actions">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn">Cancel</button>
   </div>
   {{end}}
</form>
<hr></hr>
{{with .Post}}
{{if .Comments}}
<h4>Comments</h4>
{{range .Comments}}
<blockquote id="{{.Id}}">
   <p>{{.ContentMarkdown}}</p>


   <small>said <a href="/user/{{.User.Id}}">{{.User.Username}}</a>, at
      {{.Date.Hour}}h{{.Date.Minute}} on
      {{.Date.Weekday}} {{.Date.Day}} {{.Date.Month}} {{.Date.Year}}.
   </small>

</blockquote>

{{end}}
{{else}}
<h4>No comments</h4>
<p>Be the first to comment on this post!</p>
{{end}}

{{else}}
{{template "404" .}}
{{end}}
</div>

{{template "sidebar" .Post.Labels}}

{{end}}
